*{
    margin: 0;
    padding: 0;
}
html{
    overflow-x:hidden;
}
body{
  background-image: url(../../assets/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*--- Navigation Bar ---*/
.navbar{
    background-color: transparent;
    padding: 30px;
    display: flex;
    justify-content: space-between; 
    position: fixed;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #c7c7c769;
}
.nav-links{
    display: flex;
}
.navbar ul{
    list-style: none;
}
.navbar ul li{
    display: inline;
    margin-right: 50px;
}
.navbar ul a{
    text-decoration: none;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    font-size: 18px;
}
.navbar ul a:hover{
    color: rgb(153, 130, 0);
}
.navbar i{
    font-size: 20px;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}
.navbar i:hover{
    color: rgb(153, 130, 0);
}
.navbar h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 30px;
}
.navbar a{
  text-decoration: none;
}
.nav-open{
    margin-left: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out ;
    display: none;
}

/*--- Mobile Navbar ---*/
.mobile-navbar{
    width: 0px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.61);
    float: right;
    position: fixed;
    z-index: 10;
    right: 0;
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(15px);
}
.mobile-nav-links{
    display: none;
}
.mobile-navbar ul{
    list-style: none;
    position: relative;
    left: 50px;    
    max-width: fit-content;
}
.mobile-navbar ul li{
    margin-bottom: 20px;
    max-width: fit-content;
}
.mobile-navbar ul a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.3 ease-in-out;
}
.mobile-navbar ul a:hover{
    color: rgb(153, 130, 0);
}
.mobile-navbar i{
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
}
.nav-close{
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}
.nav-close:hover{
    color: rgb(153, 130, 0);
}
@media screen and (max-width: 1000px){
    .nav-links ul{
        display: none;
    }
    .nav-open{
        display: block;
    }
    html{
        overflow-x: hidden;
    }
}

/*--- Home Slider ---*/
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .home-slides{
    height: 100%;
  }
  .home-swipe{
    height: calc(100vh + 87px);
  }
  .home-slide1{
    background-image: url(../../assets/img/home-slide1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .home-slide2{
    background-image: url(../../assets/img/home-slide2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .home-slide3{
    background-image: url(../../assets/img/home-slide3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .home-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000070;
  }
  .home-details{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    width: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .home-details h1{
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .home-details p{
    color: #e6e6e6de;
    font-size: 20px;
  }
  .home-slider-btns{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .home-slider-btn1{
    padding: 20px;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    background-color: rgb(189, 142, 41);
    border: 2px solid rgb(189, 142, 41);
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  .home-slider-btn1:hover{
    color: rgb(189, 142, 41);
    background-color: transparent;
  }
  .home-slider-btn2{
    padding: 20px;
    color: rgb(189, 142, 41);
    font-size: 15px;
    font-weight: 400;
    background-color: transparent;
    border: 2px solid rgb(189, 142, 41);
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  .home-slider-btn2:hover{
    color: #000000;
    background-color: rgb(189, 142, 41);
  }
  @media screen and (max-width: 1000px){
    .home-details{
        width: 70%;
    }
  }
  @media screen and (max-width: 600px){
    .home-details h1{
        font-size: 35px;
    }
    .home-details p{
        font-size: 15px;
    }
  }
  @media screen and (max-width: 450px){
    .home-details{
        width: 80%;
    }
    .home-details h1{
        font-size: 30px;
    }
    .home-slider-btn1,.home-slider-btn2{
        transform: scale(0.9);
    }
  }

  /*--- Details Section ---*/
  .details{
    background-color: #000000;
    padding: 100px 40px;
  }
  .details-flex{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  .details-div{
    display: flex;
    width: 300px;
  }
  .details-div-icon{
    width: 70px;
  }
  .details-div-icon i{
    font-size: 30px;
    color: rgb(189, 142, 41);
  }
  .details-div-content h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
  }
  .details-div-content p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e2e2e2b0;
  }
  @media screen and (max-width: 1100px){
    .details-flex{
      gap: 10px;
    }
  }
  @media screen and (max-width: 1000px){
    .details-flex{
      justify-content: unset;
      margin-left: 40px;
    }
    .details-div{
      width: 80%;
      margin-bottom: 40px;
    }
    .details-div-icon{
      width: 60px;
    }
    .details-div-icon i{
      margin-right: 20px;
    }
    .d-div3{
      margin: 0;
    }
  }
  @media screen and (max-width: 450px){
    .details-div{
      width: 100%;
    }
    .details-flex{
      margin-left: 0;
    }
  }

  /*--- Story Section ---*/
  .story-flex{
    display: flex;
    height: 800px;
    flex-wrap: wrap;
    position: relative;
  }
  .story-img{
    width: 55%;
    height: 800px;
  }
  .story-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .story-details{
    width: 40%;
    padding: 100px 0px;
    position: relative;
    right: 200px;
  }
  .story-details h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 20px;
  }
  .story-details p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e4e4e49d;
    font-size: 20px;
    line-height: 1.5;
  }
  .story-details h2{
    font-family: 'Great Vibes', cursive;
    color: rgb(189, 142, 41);
    font-size: 45px;
    font-weight: 200;
  }
  .story-details-overlay{
    content: "";
    background-color: #00000077;
    padding: 60px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

  }
  @media screen and (min-width: 1200px){
    .story-img{
      max-height: 800px;
    }
  }
  @media screen and (max-width: 1250px){
    .story-flex{
      height:fit-content;
    }
    .story-details-overlay{
      width: 100%;

    }
    .story-details{
      right: 150px;
    }
  }
  @media screen and (max-width: 1000px){
    .story-img{
      width: 100%;
      height: 500px;
    }
    .story-img img{
      height: 100%;
    }
    .story-details-overlay{
      background-color: transparent;
      position: unset;
      padding: 0px 40px;
      transform: translateY(0%);
      padding: 0px 2  0px;
      box-sizing: border-box;
    }
    .story-details{
      right: 0;
      width: 100%;
      height:auto;
    }
    .story-flex{
      height: 100%;
    }
  }
  @media screen and (max-width: 420px){

  }
  @media screen and (max-width: 380px){
    .story-img{
      height: 350px;
    }
  }

  /*--- Features Section ---*/
  .features{
    background-color: rgb(189, 142, 41);
    padding: 100px 0px;

    
  }
  .features-flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
  }
  .features-flex-div{
    width: 30%;
  }
  .features-flex-div-img{
    width: 30%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .features-flex-div-img img{
    width: 100px;
    height: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid rgb(121, 82, 0);
    padding: 20px;
  }
  .features-flex-div-details h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .features-flex-div-details p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 18px;
  }
  @media screen and (min-width: 1200px){
    .features-flex{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @media screen and (max-width: 1000px){
    .features-flex-div{
      width: 80%;
    }
    .features-flex-div-details p{
      margin-bottom: 50px;
    }
  }

  /*--- Menu Section ---*/
  .menu{
    padding: 100px 0px;
  }
  .menu-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    max-width: 1300px;
  }
  .menu-flex-details{
    width: 500px;
    color: white;
    padding-right: 40px;
  }
  .menu-flex-details h2{
    font-family: 'Great Vibes', cursive;
    color: rgb(189, 142, 41);
    font-size: 45px;
    font-weight: 200;
    text-align: right;
  }
  .menu-flex-details h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: right;
    text-transform: uppercase;
  }
  .menu-flex-details p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #a3a3a3;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: right;
  }
  .menu-flex-details button{
    padding: 20px;
    color: rgb(189, 142, 41);
    font-size: 15px;
    font-weight: 400;
    background-color: transparent;
    border: 2px solid rgb(189, 142, 41);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    float: right;
    width: 150px;
    margin-top: 20px;
  }
  .menu-flex-details button:hover{
    background-color: rgb(189, 142, 41);
    color: #ffffff;
  }
  .menu-flex-img{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
  }
  .menu-flex-img img{
    width: 255px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
  }
  .menu-img1{
    margin-right: 40px;
  }
  .menu-img2{
    position: relative;
    top: 40px;
  }
  .menu-img3{
    margin-right: 40px;
  }
  .menu-img4{
    position: relative;
    top: 40px;
  }
  @media screen and (min-width: 1300px){
    .menu-flex{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @media screen and (max-width: 1200px){
    .menu-flex-details{
      width: 400px;
    }
    .menu-flex-img{
      width: 500px;
    }
    .menu-flex-img img{
      width: 210px;
    }
  }
  @media screen and (max-width: 1000px){
    .menu-flex-details{
      width: 280px;
    }
    .menu-flex-img{
      width: 400px;
    }
    .menu-flex-img img{
      width: 170px;
    }
  }
  @media screen and (max-width: 730px){
    .menu-flex-details{
      width: 80%;
      padding-right: 0;
      margin-bottom: 50px;
    }
    .menu-flex-details h1{
      text-align: left;
    }
    .menu-flex-details h2{
      text-align: left;
    }
    .menu-flex-details p{
      text-align: left;
    }
    .menu-flex-details button{
      float: left;
    }
    .menu-flex-img{
      width: 80%;
    }
    .menu-flex-img img{
      width: 45%;
    }
  }
  @media screen and (max-width: 550px){
    .menu-flex-img{
      row-gap: 0;
    }
    .menu-flex-img img{
      width: 100%;
      margin: 0;
      margin-bottom: 30px;
      position: unset;
    }
  }

/*--- Stats Section ---*/
.stats{
  background-image: url(../../assets/img/stats-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.stats-overlay{
  content: "";
  width: 100%;
  height: 100%;
  background-color: #00000093;
  padding: 100px 0px;
}
.stats-flex{
  display: flex;
  justify-content: space-evenly;
  max-width: 1300px;
  flex-wrap: wrap;
}
.stats-flex-div{
  width: 20%;
}
.stats-flex-div-icon{
  width: 70px;
  height: 70px;
  border: 2px solid rgb(189, 142, 41);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  transition: 0.3s ease-in-out;
  margin-bottom: 30px;
}
.stats-flex-div-icon i{
  font-size: 45px;
  color: rgb(189, 142, 41);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.stats-flex-div-details{
  color: #ffffff;
  text-align: center;
}
.stats-flex-div-details h2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: rgb(189, 142, 41);
  margin-bottom: 5px;
}
.stats-flex-div-details h3{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #a3a3a3;
}
.stats-flex-div:hover .stats-flex-div-icon{
  background-color: rgb(189, 142, 41);
}
.stats-flex-div:hover .stats-i{
  color: #000000c2;
}
@media screen and (min-width: 1300px){
  .stats-flex{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 700px){
  .stats-flex-div{
    width: 600px;
  }
  .stats-flex-div{
    width: 80%;
    margin-bottom: 60px;
  }
}

/*--- Sellers Section ---*/
.sellers{
  padding: 100px 0px;
}
.sellers h2{
  font-family: 'Great Vibes', cursive;
  color: rgb(189, 142, 41);
  font-size: 45px;
  font-weight: 200;
  text-align: center;
}
.sellers h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}
.sellers-para{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: #a3a3a3;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  margin-bottom: 30px;
}
.sellers-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1300px;
}
.sellers-card-div{
  width: 23%;
}
.sellers-card-div-img{
  position: relative;
  width: 100%;
  cursor: pointer;
}
.sellers-card-div-img img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.sellers-card-div-details h3{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.sellers-card-div-details p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: #a3a3a3;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
}
.sellers-card-div-details h4{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: rgb(189, 142, 41);
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
.sellers-btn{
  padding: 10px;
  color: rgb(189, 142, 41);
  font-size: 15px;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid rgb(189, 142, 41);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 120px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.sellers-btn:hover{
  color: #ffffff;
  background-color: rgb(189, 142, 41);
}
.sellers-overlay{
  content: "";
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  visibility: hidden;
}
.sellers-overlay i{
  color: rgb(187, 187, 187);
  font-size: 30px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  visibility: hidden;
}
.sellers-card-div-img:hover .sellers-overlay{
  visibility: visible;
  background-color: #000000a4;
}
.sellers-card-div-img:hover .sellers-overlay-i{
  visibility: visible;
  transition: 0.3s ease-in-out;
}
@media screen and (min-width: 1300px){
  .sellers-card{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 1300px){
  .sellers-card{
    max-width: 1000px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 1000px){
  .sellers-card{
    justify-content: space-evenly;
  }
  .sellers-card-div{
    width: 40%;
  }
  .sellers-div1, .sellers-div2{
    margin-bottom: 50px;
  }
  .sellers-card-div-img img{
    height: 250px;
  }
  .sellers-overlay{
    height: 250px;
  }
}
@media screen and (max-width: 550px){
  .sellers-card-div{
    width: 80%;
  }
  .sellers-div1, .sellers-div2, .sellers-div3{
    margin-bottom: 70px;
  }
  .sellers h1{
    font-size: 30px;
  }
}

/*--- Gallery Section ---*/
.gallery-flex{
  display: flex;
  flex-wrap: wrap;
}
.gallery-div{
  width: 25%;
  position: relative;
  cursor: pointer;
}
.gallery-div img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.gallery-overlay{
  content: "";
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s ease-in-out;
  visibility: hidden;
}
.gallery-overlay i{
  font-size: 35px;
  color: #ffffff;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  visibility: hidden;
}
.gallery-div:hover .gallery-overlay{
  visibility: visible;
  background-color: #00000094;
}
.gallery-div:hover .gallery-i{
  visibility: visible;
}
@media screen and (max-width: 1000px){
  .gallery-div{
    width: 50%;
  }
}
@media screen and (max-width: 550px){
  .gallery-div{
    width: 100%;
  }
}

/*--- Products Section ---*/
.products{
  padding: 100px 0px;
}
.products h2{
  font-family: 'Great Vibes', cursive;
  color: rgb(189, 142, 41);
  font-size: 45px;
  font-weight: 200;
  text-align: center;
}
.products h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}
.products-para{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: #a3a3a3;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  margin-bottom: 30px;
}
.products-card-details h3{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.products-card-details p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: #a3a3a3;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
}
.products-card-details h4{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: rgb(189, 142, 41);
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
.products-toggle{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: 40px;
  position: relative;
  left: 50%;
  width: fit-content;
  transform: translateX(-50%);
  margin-top: 120px;
}
.product-dish-btn, .product-drinks-btn, .product-desserts-btn{
  padding: 20px;
  color: rgb(189, 142, 41);
  font-size: 15px;
  font-weight: 600;
  background-color: transparent;
  border: 2px solid rgb(189, 142, 41);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 120px;
  margin-right: 20px;
}
.products-toggle button:hover{
  background-color: rgb(189, 142, 41);
  color: #000000;
}
.product-dish-btn{
  background-color: rgb(189, 142, 41);
  color: #000000;
}
.product-select{
  background-color: rgb(189, 142, 41);
  color: #000000;
  border: 2px solid rgb(189, 142, 41);
}
.product-unselect{
  border: none;
  border-bottom: 2px solid rgb(189, 142, 41);
  background-color: transparent;
  color: rgb(189, 142, 41);
}
.product-drinks-btn, .product-desserts-btn{
  border: none;
  border-bottom: 2px solid rgb(189, 142, 41);
}
.products-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1300px;
}
.products-card{
  width: 30%;
  margin-bottom: 40px;
}
.products-card-img{
  width: 100%;
  overflow: hidden;
}
.products-card-img img{
  width: 100%;
  height: 3 50px;
  object-fit: cover;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.products-card-img img:hover{
  transform: scale(1.2);
}
.product-cart-btn{
  padding: 10px;
  color: rgb(189, 142, 41);
  font-size: 15px;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid rgb(189, 142, 41);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 120px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.product-cart-btn:hover{
  color: #ffffff;
  background-color: rgb(189, 142, 41);
}
.product-drinks{
  display: none;
}
.product-desserts{
  display: none;
}
@media screen and (min-width: 1300px){
  .products-flex{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 750px){
  .products-card{
    width: 80%;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 500px){
  .products-toggle button{
    width: 100px;
    margin-right: 10px;
    padding: 20px 10px;
  }
}
@media screen and (max-width: 400px){
  .products-toggle{
    justify-content: space-around;
  }
  .products-toggle button{
    width: 80vw;
    margin: 0;
  }
  .products h1{
    font-size: 30px;
  }
}

/*--- Testimonials Section ---*/
.testimonials{
  padding: 100px 0px;
  background-color: transparent;
  background-image: url("../../assets/img/testimonials-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.testi-overlay{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000a2;
  z-index: 0;
}
.testimonials h2{
  font-family: 'Great Vibes', cursive;
  color: rgb(189, 142, 41);
  font-size: 45px;
  font-weight: 200;
  text-align: center;
  position: relative;
  z-index: 1;
}
.testimonials h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  position: relative;
  z-index: 1;
}
.testimonials-para{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: #a3a3a3;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}
.testimonials-flex{
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(189, 142, 41);
  padding: 90px 0px;
  max-width: 1300px;

}
.reviews{
  background-color: transparent;
}
.testimonials-img{
  width: 150px;
  height: 150px;
}
.testimonials-img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.testimonials-details{
  width: 60%;
}
.testimonials-details p{
  font-size: 18px;
  color: #000000;
  line-height: 1.5;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 20px;
}
.testimonials-details h2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
}
.testimonials-details h3{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #474646;
}
.testimonials-details i{
  font-size: 150px;
  top: 10px;
  position: absolute;
  color: #494949;
  z-index: -1;
  opacity: 0.2;
}
.testimonials-slider{
  height: 100%;
}
@media screen and (min-width: 1300px){
  .testimonials-flex{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 650px){
  .testimonials-flex{
      flex-direction: column;
      width: 90%;
  }
  .testimonials-img{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
  }
  .testimonials-details{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
  }
}
@media screen and (max-width: 400px){
  .testimonials h1{
    font-size: 30px;
  }
}

/*--- Blog Section ---*/
.blog{
  padding: 100px 0px;
  background-color: transparent;
}
.blog h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}
.blog-para{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: #a3a3a3;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  margin-bottom: 30px;
} 
.blog-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1300px;
}
.blog-card{
  width: 28%;
  position: relative;
}
.blog-card-img{
  width: 100%;
}
.blog-overlay{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.blog-overlay-back{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000093;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.blog-card-img:hover .blog-overlay-back{
  opacity: 1;
}
.blog-date{
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  bottom: 0;
  height: 100px;
  width: 50px;
  background-color: rgb(189, 142, 41);
  color: #ffffff;
  padding-top: 6px;
}
.blog-date h4{
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.blog-date h5{
  text-align: center;
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 400;
}
.blog-date h6{
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}
.blog-overlay i{
  position: absolute;
  font-size: 50px;
  color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}
.blog-card-details{
  padding: 20px 0px;
  position: relative;
  bottom: 5px;
}
.blog-card-details h2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 20px;
  font-weight: 600;
  color: #ffffff;
}
.blog-card-details p{
  font-size: 18px;
  color: #a3a3a3;
  line-height: 1.5;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 20px;
}
.blog-card-img{
  position: relative;
  width: 100%;
}
.blog-card-img img{
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.blog-btn{
  background-color: rgb(189, 142, 41);
  border: 2px solid rgb(189, 142, 41);
  color: #ffffff;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  padding: 10px;
  width: 120px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 40px;
  position: relative;

}
.blog-btn:hover{
  background-color: transparent;
  color: rgb(189, 142, 41);
}
.blog-details-bottom{
  display: flex;
  justify-content: space-between;
}
.blog-details-bottom-div1{
  width: 50%;
  position: relative;
}
.blog-details-bottom-div2 h3{
  position: absolute;
  bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  right: 0;
  font-weight: 400;
  color: rgb(189, 142, 41);
  cursor: pointer;
}
.blog-details-bottom-div3 i{
  position: absolute;
  font-size: 18px;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
  color: rgb(189, 142, 41);
}
.blog-details-bottom-div2{
  width: 30%;
  position: relative;
}
.blog-details-bottom-div3{
  width: 25%;
}
@media screen and (min-width: 1300px){
  .blog-flex{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 750px){
  .blog-card{
      width: 60%;
  }
}
@media screen and (max-width: 650px){
  .blog-card{
      width: 80%;
  }
}
@media screen and (max-width: 350px){
  .blog-card{
      width: 90%;
  }
  .blog-btn{
      width: 100px;
  }
  .blog-details-bottom-div2 h3{
      font-size: 18px;
  }
}

/*--- Footer Section ----*/
.footer{
  background-color: #272727;
  padding: 100px 40px;
}
.footer-flex{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
}
.footer-div{
  width: 300px;
}
.footer-div1{
  width: 350px;
}
.footer-div2{
  width: 350px;
}
.footer-div3{
  width: 170px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer-div h2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 40px;
}
.footer-contact-div1{
  display: flex;
  margin-bottom: 10px;
}
.footer-contact-div1 i{
  margin-right: 10px;
  font-size: 20px;
}
.footer-contact-div1 p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.footer-contact-div2{
  display: flex;
  margin-bottom: 10px;
}
.footer-contact-div2 i{
  margin-right: 10px;
  font-size: 20px;
}
.footer-contact-div2 p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.footer-contact-div3{
  display: flex;
  margin-bottom: 10px;
}
.footer-contact-div3 i{
  margin-right: 10px;
  font-size: 20px;
}
.footer-contact-div3 p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.footer-div2-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-div2-flex-div1, .footer-div2-flex-div2{
  display: flex;
}
.footer-div2-flex img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
  margin-right: 20px;
}
.footer-blog-title{
  width: 200px;
}
.footer-blog-title h3{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}
.footer-blog-para{
  display: inline;
}
.footer-blog-calender{
  display: inline;
}
.footer-blog-title{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 30px;
  display: inline;
  width: 60%;
}
.footer-blog-title h3{
  margin-bottom: 15px;
}
.footer-blog-title-flex{
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-bottom: 30px;
  color: #e7e7e786;
  font-weight: 400;
}
.footer-blog-title-div1{
  margin-bottom: 8px;

  display: flex;
  width: 100%;
}
.footer-blog-title-div2{
  display: flex;
  width: 55px;
  margin-right: 20px;
}
.footer-blog-title-last{
  display: flex;
}
.footer-blog-title-div3{
  display: flex;
}
.footer-blog-title i{
  margin-right: 10px;
  font-size: 15px;
  position: relative;
  top: 2px;
}
.footer-div3 ul{
  list-style: none;
}
.footer-div3 li{
  font-size: 18px;

}
.footer-div3 li{
  margin-bottom: 10px;
}
.footer-div4 input{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.footer-div4 input::placeholder{
  font-size: 20px;
  color: #000000;
}
.footer-div4 input[type="submit"]{
  background-color: rgb(189, 142, 41);
  border: 2px solid rgb(189, 142, 41);
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.footer-div4 input[type="submit"]:hover{
  background-color: transparent;
  color: rgb(189, 142, 41);
}
.footer-connect-flex{
  display: flex;
  gap: 10px;
}
.footer-connect-icon{
  content: "";
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.footer-connect-icon i{
  font-size: 25px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: #000000;
  transition: 0.3s ease-in-out;
}
.footer-connect-icon:hover{
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}
.footer-line{
  background-color: rgb(189, 142, 41);
  padding: 10px 0px;
}
.footer-line p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  color: #272727;
  font-size: 18px;
}
.footer-line a{
  text-decoration: none;
  color: #000000;
}
@media screen and (max-width: 1250px){
  .footer-div{
      width: 240px;
  }
}
@media screen and (max-width: 1000px){
  .footer-div{
      width: 40%;
  }
}
@media screen and (max-width: 750px){
  .footer-div2, .footer-div4{
      width: 50%;
  }
  .footer-blog-title{
      width: 60%;
  }
}
@media screen and (max-width: 620px){
  .footer-div2, .footer-div4{
      width: 60%;
  }
}
@media screen and (max-width: 540px){
  .footer-div{
      width: 100%;
  }
  .footer-blog-title{
      width: 60%;
      height: auto;
  }
  .footer-div2-flex{
      transform: scale(0.9);
      position: relative;
      left: 0;
  }
}
@media screen and (max-width: 300px){
  .footer-blog-title-last{
      flex-wrap: wrap;
  }
  .footer-blog-title-div2{
      margin-bottom: 10px;
  }
}