*{
    margin: 0;
    padding: 0;
}
html{
    overflow-x:hidden;
}
body{
  background-image: url(../../assets/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*--- Navigation Bar ---*/
.navbar{
    background-color: rgb(39, 39, 39);
    padding: 40px;
    display: flex;
    justify-content: space-between; 
}
.nav-links{
    display: flex;
}
.navbar ul{
    list-style: none;
}
.navbar ul li{
    display: inline;
    margin-right: 50px;
}
.navbar ul a{
    text-decoration: none;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    font-size: 18px;
}
.navbar ul a:hover{
    color: rgb(153, 130, 0);
}
.navbar i{
    font-size: 20px;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}
.navbar i:hover{
    color: rgb(153, 130, 0);
}
.navbar h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 30px;
}
.nav-open{
    margin-left: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out ;
    display: none;
}

/*--- Mobile Navbar ---*/
.mobile-navbar{
    width: 0px;
    height: calc(100vh - 107px);
    background-color: rgb(39, 39, 39);
    float: right;
    position: absolute;
    z-index: 10;
    right: 0;
    transition: 0.3s ease-in-out;

}
.mobile-nav-links{
    display: none;
}
.mobile-navbar ul{
    list-style: none;
    position: relative;
    left: 50px;    
    max-width: fit-content;
}
.mobile-navbar ul li{
    margin-bottom: 20px;
    max-width: fit-content;
}
.mobile-navbar ul a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.3 ease-in-out;
}
.mobile-navbar ul a:hover{
    color: rgb(153, 130, 0);
}
.mobile-navbar i{
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
}
.nav-close{
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}
.nav-close:hover{
    color: rgb(153, 130, 0);
}
@media screen and (max-width: 1000px){
    .nav-links ul{
        display: none;
    }
    .nav-open{
        display: block;
    }
    html{
        overflow-x: hidden;
    }
}

/*--- Home Slider ---*/
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .home-slides{
    height: 100%;
  }
  .home-swipe{
    height: calc(100vh - 107px);
  }
  .home-slide1{
    background-image: url(../../assets/img/home-slide1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .home-slide2{
    background-image: url(../../assets/img/home-slide2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .home-slide3{
    background-image: url(../../assets/img/home-slide3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .home-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000070;
  }
  .home-details{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    width: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .home-details h1{
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .home-details p{
    color: #e6e6e6de;
    font-size: 20px;
  }
  .home-slider-btns{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .home-slider-btn1{
    padding: 20px;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    background-color: rgb(189, 142, 41);
    border: 2px solid rgb(189, 142, 41);
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  .home-slider-btn1:hover{
    color: rgb(189, 142, 41);
    background-color: transparent;
  }
  .home-slider-btn2{
    padding: 20px;
    color: rgb(189, 142, 41);
    font-size: 15px;
    font-weight: 400;
    background-color: transparent;
    border: 2px solid rgb(189, 142, 41);
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  .home-slider-btn2:hover{
    color: #000000;
    background-color: rgb(189, 142, 41);
  }
  @media screen and (max-width: 1000px){
    .home-details{
        width: 70%;
    }
  }
  @media screen and (max-width: 600px){
    .home-details h1{
        font-size: 35px;
    }
    .home-details p{
        font-size: 15px;
    }
  }
  @media screen and (max-width: 450px){
    .home-details{
        width: 80%;
    }
    .home-details h1{
        font-size: 30px;
    }
    .home-slider-btn1,.home-slider-btn2{
        transform: scale(0.9);
    }
  }

  /*--- Details Section ---*/
  .details{
    background-color: #000000;
    padding: 100px 40px;
  }
  .details-flex{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  .details-div{
    display: flex;
    width: 300px;
  }
  .details-div-icon{
    width: 70px;
  }
  .details-div-icon i{
    font-size: 30px;
    color: rgb(189, 142, 41);
  }
  .details-div-content h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
  }
  .details-div-content p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e2e2e2b0;
  }
  @media screen and (max-width: 1100px){
    .details-flex{
      gap: 10px;
    }
  }
  @media screen and (max-width: 1000px){
    .details-flex{
      justify-content: unset;
      margin-left: 40px;
    }
    .details-div{
      width: 80%;
      margin-bottom: 40px;
    }
    .details-div-icon{
      width: 60px;
    }
    .details-div-icon i{
      margin-right: 20px;
    }
    .d-div3{
      margin: 0;
    }
  }
  @media screen and (max-width: 450px){
    .details-div{
      width: 100%;
    }
    .details-flex{
      margin-left: 0;
    }
  }

  /*--- Story Section ---*/
  .story-flex{
    display: flex;
    height: 800px;
    flex-wrap: wrap;
    position: relative;
  }
  .story-img{
    width: 55%;
    height: 800px;
  }
  .story-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .story-details{
    width: 40%;
    padding: 100px 0px;
    position: relative;
    right: 200px;
  }
  .story-details h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 20px;
  }
  .story-details p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e4e4e49d;
    font-size: 20px;
    line-height: 1.5;
  }
  .story-details h2{
    font-family: 'Great Vibes', cursive;
    color: rgb(189, 142, 41);
    font-size: 45px;
    font-weight: 200;
  }
  .story-details-overlay{
    content: "";
    background-color: #00000077;
    padding: 60px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

  }
  @media screen and (min-width: 1200px){
    .story-img{
      max-height: 800px;
    }
  }
  @media screen and (max-width: 1250px){
    .story-flex{
      height:fit-content;
    }
    .story-details-overlay{
      width: 100%;

    }
    .story-details{
      right: 150px;
    }
  }
  @media screen and (max-width: 1000px){
    .story-img{
      width: 100%;
      height: 500px;
    }
    .story-img img{
      height: 100%;
    }
    .story-details-overlay{
      background-color: transparent;
      position: unset;
      padding: 0px 40px;
      transform: translateY(0%);
      padding: 0px 2  0px;
      box-sizing: border-box;
    }
    .story-details{
      right: 0;
      width: 100%;
      height:auto;
    }
    .story-flex{
      height: 100%;
    }
  }
  @media screen and (max-width: 420px){

  }
  @media screen and (max-width: 380px){
    .story-img{
      height: 350px;
    }
  }

  /*--- Features Section ---*/
  .features{
    background-color: rgb(189, 142, 41);
    padding: 100px 0px;

    
  }
  .features-flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
  }
  .features-flex-div{
    width: 30%;
  }
  .features-flex-div-img{
    width: 30%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .features-flex-div-img img{
    width: 100px;
    height: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid rgb(121, 82, 0);
    padding: 20px;
  }
  .features-flex-div-details h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .features-flex-div-details p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 18px;
  }
  @media screen and (min-width: 1200px){
    .features-flex{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @media screen and (max-width: 1000px){
    .features-flex-div{
      width: 80%;
    }
    .features-flex-div-details p{
      margin-bottom: 50px;
    }
  }

  /*--- Menu Section ---*/
  .menu{
    padding: 100px 0px;
  }
  .menu-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    max-width: 1300px;
  }
  .menu-flex-details{
    width: 500px;
    color: white;
    padding-right: 40px;
  }
  .menu-flex-details h2{
    font-family: 'Great Vibes', cursive;
    color: rgb(189, 142, 41);
    font-size: 45px;
    font-weight: 200;
    text-align: right;
  }
  .menu-flex-details h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: right;
    text-transform: uppercase;
  }
  .menu-flex-details p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #a3a3a3;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: right;
  }
  .menu-flex-details button{
    padding: 20px;
    color: rgb(189, 142, 41);
    font-size: 15px;
    font-weight: 400;
    background-color: transparent;
    border: 2px solid rgb(189, 142, 41);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    float: right;
    width: 150px;
    margin-top: 20px;
  }
  .menu-flex-details button:hover{
    background-color: rgb(189, 142, 41);
    color: #ffffff;
  }
  .menu-flex-img{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
  }
  .menu-flex-img img{
    width: 255px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
  }
  .menu-img1{
    margin-right: 40px;
  }
  .menu-img2{
    position: relative;
    top: 40px;
  }
  .menu-img3{
    margin-right: 40px;
  }
  .menu-img4{
    position: relative;
    top: 40px;
  }
  @media screen and (min-width: 1300px){
    .menu-flex{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @media screen and (max-width: 1200px){
    .menu-flex-details{
      width: 400px;
    }
    .menu-flex-img{
      width: 500px;
    }
    .menu-flex-img img{
      width: 210px;
    }
  }
  @media screen and (max-width: 1000px){
    .menu-flex-details{
      width: 280px;
    }
    .menu-flex-img{
      width: 400px;
    }
    .menu-flex-img img{
      width: 170px;
    }
  }
  @media screen and (max-width: 730px){
    .menu-flex-details{
      width: 80%;
      padding-right: 0;
      margin-bottom: 50px;
    }
    .menu-flex-details h1{
      text-align: left;
    }
    .menu-flex-details h2{
      text-align: left;
    }
    .menu-flex-details p{
      text-align: left;
    }
    .menu-flex-details button{
      float: left;
    }
    .menu-flex-img{
      width: 80%;
    }
    .menu-flex-img img{
      width: 45%;
    }
  }
  @media screen and (max-width: 550px){
    .menu-flex-img{
      row-gap: 0;
    }
    .menu-flex-img img{
      width: 100%;
      margin: 0;
      margin-bottom: 30px;
      position: unset;
    }
  }

/*--- Stats Section ---*/
.stats{
  background-image: url(../../assets/img/stats-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.stats-overlay{
  content: "";
  width: 100%;
  height: 100%;
  background-color: #00000093;
  padding: 100px 0px;
}
.stats-flex{
  display: flex;
  justify-content: space-evenly;
  max-width: 1300px;
  flex-wrap: wrap;
}
.stats-flex-div{
  width: 20%;
}
.stats-flex-div-icon{
  width: 70px;
  height: 70px;
  border: 2px solid rgb(189, 142, 41);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  transition: 0.3s ease-in-out;
  margin-bottom: 30px;
}
.stats-flex-div-icon i{
  font-size: 45px;
  color: rgb(189, 142, 41);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.stats-flex-div-details{
  color: #ffffff;
  text-align: center;
}
.stats-flex-div-details h2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: rgb(189, 142, 41);
  margin-bottom: 5px;
}
.stats-flex-div-details h3{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #a3a3a3;
}
.stats-flex-div:hover .stats-flex-div-icon{
  background-color: rgb(189, 142, 41);
}
.stats-flex-div:hover .stats-i{
  color: #000000c2;
}
@media screen and (min-width: 1300px){
  .stats-flex{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 700px){
  .stats-flex-div{
    width: 600px;
  }
  .stats-flex-div{
    width: 80%;
    margin-bottom: 60px;
  }
}

/*--- Sellers Section ---*/
.sellers{
  padding: 100px 0px;
}
.sellers h2{
  font-family: 'Great Vibes', cursive;
  color: rgb(189, 142, 41);
  font-size: 45px;
  font-weight: 200;
  text-align: center;
}
.sellers h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}
.sellers-para{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: #a3a3a3;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  margin-bottom: 30px;
}
.sellers-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1300px;
}
.sellers-card-div{
  width: 23%;
}
.sellers-card-div-img{
  position: relative;
  width: 100%;
  cursor: pointer;
}
.sellers-card-div-img img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.sellers-card-div-details h3{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.sellers-card-div-details p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: #a3a3a3;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
}
.sellers-card-div-details h4{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: rgb(189, 142, 41);
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
.sellers-btn{
  padding: 10px;
  color: rgb(189, 142, 41);
  font-size: 15px;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid rgb(189, 142, 41);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 120px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.sellers-btn:hover{
  color: #ffffff;
  background-color: rgb(189, 142, 41);
}
.sellers-overlay{
  content: "";
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  visibility: hidden;
}
.sellers-overlay i{
  color: rgb(187, 187, 187);
  font-size: 30px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  visibility: hidden;
}
.sellers-card-div-img:hover .sellers-overlay{
  visibility: visible;
  background-color: #000000a4;
}
.sellers-card-div-img:hover .sellers-overlay-i{
  visibility: visible;
  transition: 0.3s ease-in-out;
}
@media screen and (min-width: 1300px){
  .sellers-card{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 1300px){
  .sellers-card{
    max-width: 1000px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 1000px){
  .sellers-card{
    justify-content: space-evenly;
  }
  .sellers-card-div{
    width: 40%;
  }
  .sellers-div1, .sellers-div2{
    margin-bottom: 50px;
  }
  .sellers-card-div-img img{
    height: 250px;
  }
  .sellers-overlay{
    height: 250px;
  }
}
@media screen and (max-width: 550px){
  .sellers-card-div{
    width: 80%;
  }
  .sellers-div1, .sellers-div2, .sellers-div3{
    margin-bottom: 70px;
  }
  .sellers h1{
    font-size: 30px;
  }
}

/*--- Gallery Section ---*/
.gallery-flex{
  display: flex;
  flex-wrap: wrap;
}
.gallery-div{
  width: 25%;
  position: relative;
  cursor: pointer;
}
.gallery-div img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.gallery-overlay{
  content: "";
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s ease-in-out;
  visibility: hidden;
}
.gallery-overlay i{
  font-size: 35px;
  color: #ffffff;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  visibility: hidden;
}
.gallery-div:hover .gallery-overlay{
  visibility: visible;
  background-color: #00000094;
}
.gallery-div:hover .gallery-i{
  visibility: visible;
}
@media screen and (max-width: 1000px){
  .gallery-div{
    width: 50%;
  }
}
@media screen and (max-width: 550px){
  .gallery-div{
    width: 100%;
  }
}